<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT ticket</title>
<style>
.error {
	color: red;
}
</style>
</head>
<body>
    <h1>This page will let you submit a IT ticket</h1>
    <p class="error">{{error}}</p>
    <form action="" method="POST">
        <textarea name="ticket" id="" cols="30" rows="10"></textarea>
	<input type="submit" />
    </form>
</body>
</html>
